.masthead {
  min-height: 15rem;
  display: flex;
  align-items: flex-end;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav .current {
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  .nav {
    text-align: right;
  }

}


@media print {

  .masthead {
    min-height: auto;
  }

}
